body{
   width: 100%;
   background-color: #eeeeee;
   margin: auto;
   color: #333333;
}
.flex-container {
   display: flex;
   margin: 10px;
   justify-content: space-between;
   
   
}
.flex-container div{
   flex: 0 0 150px;
   background: #cccccc;
   text-align: center;
   padding: 50px 0;
}
.f1{
order: 4;
}
.f2{
order: 7;
}
.f3{
order: 3;
}
.f4{
order: 6;
}
