.flex-container1{
   margin: 30px 0 80px 0;
   display: flex;
}
.flex1{
   height: 150px;
   width: 150px;
}
.red{
   background-color: red;
}
.blue{
   background-color: blue;
}
.green{
   background-color: green;
}
.flex-container2{
   width: 750px;
   min-height: 400px;
   background-color: cyan;
   display: flex;
}
.flex2{
   height: 200px;
   width: 150px;
   margin: 20px;
   background-color: mediumvioletred;
   color: mistyrose;
   text-align: center;
   font-size: 30px;
   font-style: italic;
   font-weight: bold;
}
